@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 58.77% 0.223 26.79;
    --primary-foreground: 358.5 77% 25%;

    --secondary: 48.83% 0.3079 268.29;
    --secondary-foreground: 238.78 100% 17.99999999999999%;

    --accent: 82.72% 0.148 181.67;
    --accent-foreground: 173.58 97% 13%;

    --neutral: 30.83% 0.024 264.14;
    --neutral-foreground: 20.85% 0.013 264.25;

    --content: 28.42% 0.01 355.53;

    --background: 97.94% 0.00819 301.358346;
    --foreground: 20.85% 0.013 264.25;

    --card: 240 10% 3.9%;
    --card-foreground: 234, 48%, 12%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --btn: 97.35% 0.026 90.1;
    --info: 46.74% 0.21 262.59;
    --success: 82.05% 0.2513 145.05;
    --warning: 82.64% 0.1696 83.64;
    --error: 59.29% 0.2397718387190632 29.720408159362727;
  }

  .light {
    --primary: 58.77% 0.223 26.79;
    --primary-foreground: 358.5 77% 25%;

    --secondary: 48.83% 0.3079 268.29;
    --secondary-foreground: 238.78 100% 17.99999999999999%;

    --accent: 82.72% 0.148 181.67;
    --accent-foreground: 173.58 97% 13%;

    --neutral: 30.83% 0.024 264.14;
    --neutral-foreground: 20.85% 0.013 264.25;

    --content: 28.42% 0.01 355.53;

    --background: 97.94% 0.00819 301.358346;
    --foreground: 20.85% 0.013 264.25;

    --card: 240 10% 3.9%;
    --card-foreground: 234, 48%, 12%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --btn: 97.35% 0.026 90.1;
    --info: 46.74% 0.21 262.59;
    --success: 82.05% 0.2513 145.05;
    --warning: 82.64% 0.1696 83.64;
    --error: 59.29% 0.2397718387190632 29.720408159362727;
  }

  .dark {
    --primary: 58.77% 0.223 26.79;
    --primary-foreground: 358.5 77% 25%;

    --secondary: 48.83% 0.3079 268.29;
    --secondary-foreground: 238.78 100% 17.99999999999999%;

    --accent: 82.72% 0.148 181.67;
    --accent-foreground: 173.58 97% 13%;

    --neutral: 30.83% 0.024 264.14;
    --neutral-foreground: 20.85% 0.013 264.25;

    --content: 97.35% 0.026 90.1;

    --background: 11.5% 0 0;
    --foreground: 20.85% 0.013 264.25;

    --card: 240 10% 3.9%;
    --card-foreground: 234, 48%, 12%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --btn: 97.35% 0.026 90.1;
    --info: 46.74% 0.21 262.59;
    --success: 82.05% 0.2513 145.05;
    --warning: 82.64% 0.1696 83.64;
    --error: 50.32% 0.203 29.77;
  }

  html {
    background-color: oklch(var(--background) / 1);
    color: oklch(var(--content) / 1);
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
  }
  * {
    @apply border-border !scroll-smooth;
  }

  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }

  .font-sora {
    font-family: "Sora", sans-serif;
  }

  .inviz {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }

  .hero {
    display: grid;
    width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
  }
  .hero > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
    color: oklch(var(--color-accent));
  }
  .loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
  }

  @keyframes l39 {
    100% {
      transform: translateY(-100%);
    }
  }

  .gradient {
    background: linear-gradient(
      -45deg,
      oklch(var(--color-primary)),
      oklch(var(--color-secondary)),
      oklch(var(--color-accent))
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .gradient {
    @apply bg-gradient-to-r from-primary via-secondary to-accent animate-gradient;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
